/* VARIABLES */

$font_color : #fff;
$font: 'Source Sans Pro', sans-serif;

/* HEADER */

header{
    background-color:rgb(51, 51, 51);
    padding: 50px;
    color: $font_color;
    font-family: $font;
    position: relative;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.5em;
    margin: 0 0 20px 0;
    text-align: center;
}

nav{
    ul{
        position: absolute;
        right: 50px;
        bottom: 0;
        margin:0;
        li{
            display: inline-block;
            margin-left: 20px;
            background-color: $font_color;
            padding: 10px 20px;
            a{
                text-decoration: none;
                color: rgb(51, 51, 51);
            }
        }
    }
}