main {
	text-align: center;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: grey;
}



p {
	width: 600px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}